POSTGRES_DB=liyaro
POSTGRES_USER=liyaro
POSTGRES_PASSWORD=replace-with-a-long-random-password

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=marapulets87@yandex.ru
SMTP_PASSWORD=replace-with-yandex-app-password
INQUIRY_EMAIL_TO=marapulets87@yandex.ru

